.artistform{
    font-size: 20px;
    display: grid;
    color: azure;
    row-gap: 22px;
    justify-content: center;
    padding: 5%;
    border: black solid 1px;
    width: 94vw;
    background: linear-gradient(0deg, rgba(125,146,159,1) 0%, rgba(217,90,90,0.9906337535014006) 16%, rgba(217,161,90,0.9402135854341737) 39%, rgba(125,146,159,0.9906337535014006) 76%, rgba(217,90,90,0.9822303921568627) 88%, rgba(179,127,33,1) 97%);
}


.formbox{
    margin: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    
}
.editbut{
    width: 500px;
    background-color: rgba(179,127,33,1);
}
.g{
    box-shadow: white  0px 0px  4px 4px;
}